.main-heading {
    font-size: 8.5rem;
    margin: 0 auto;
    text-transform: uppercase;
    max-width: 914px;
}

@media screen and (max-width: 1024px) {
    .main-heading {
        font-size: 6rem;
        max-width: 650px;
    }
}

@media screen and (max-width: 768px) {
    .main-heading {
        font-size: 5rem;
        max-width: 329px;
    }
}