/* Цвет текста */

$primary-color: #fff;
$secondary-color: #474747;

/* Цвет фона */

$bg-color: #F3F7EA;

/* Тип и размер шрифта */

$small-font: 1.8rem;
$button-font: 2rem;
$menu-font: 2.2rem;
$contacts-font: 3.5rem;
$heading-font: 4rem;
$primary-font: 3rem;
$secondary-font: 2.5rem;
$price-font-weight: bold;
$primary-font-weight: lighter;
$secondary-font-weight: 600;